@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Grantha&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Puritan:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Grantha&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Puritan:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Glitch&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background: #e8f3fb;
    overflow: hidden;
    position: relative;
    background-image: url(Screenshot\ 2026-09-12\ 115004.png);
    background-repeat: no-repeat;
    background-size: cover;

     background-position: center -255px;
}

/* LOGO */

.logo {
     width: 70px;
    height: 70px;
    background-position: center;

}


/* NAVIGATION */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    position: relative;
    z-index: 2;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 17px;
    font-family: Rubik Glitch;
    
}

.collection {
    display: flex;
    align-items: center;
    font-family: Rubik Glitch;
    font-size: 10px;
    font-size: thin;

}

.collection span {
    color: #ffb82e;
    font-size: 10px;
    font-family: Germania One;
}
.sales a {
    color: #ffb82e;
  font-size:25px;

    margin-bottom: px;
    font-family: Germania One;
}

.collection a {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
    font-family: Rubik Glitch;
}


/* MAIN */

main {
    text-align: center;
    position: relative;
    z-index: 2;
    margin-top: 65px;
    font-family: Rubik Glitch;
}

main > div h1 {

font-size: thin;
}

h2 {
    
    letter-spacing: 5px;
}


/* TIMER */

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin-top: 35px;
    font-family:Germania One

;
}

.number {
    width: 135px;
    height: 195px;

    background: white;
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 90px;
    font-weight: 900;

    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.colon {
    font-size: 60px;
    font-weight: bold;
    margin: 0 10px;
}


/* BUTTONS */

.buttons {
    display: flex;
    justify-content: center;
    gap: 340px;

    margin-top: 85px;
}

button {
    width: 145px;
    height: 38px;

    background: white;
    border: 2px solid black;
    border-radius: 7px;
font-family: Germania One;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
}



/* LOGO */

.logo {
    width: 55px;
    height: 55px;
    object-fit: contain;
    display: block;
    margin: 35px auto 25px;
}


/* NAVIGATION */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    position: relative;
    font-family: Germania One;
    
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 17px;
}

.collection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collection span {
    color: #ffb82e;
    font-weight: bold;
    margin-bottom: 5px;
}

.collection a {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
}


/* MAIN */

main {
    text-align: center;
    position: relative;
    z-index: 3;
    margin-top: 65px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 15px;
}

h2 {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 5px;
}


/* TIMER */

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;

    margin-top: 35px;
}

.Hours,
.Minutes,
.Seconds {
    width: 135px;
    height: 195px;
    background: white;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    font-weight: 900;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.colon {
    font-size: 60px;
    font-weight: bold;
    margin: 0 10px;
}


/* BUTTONS */

.buttons {
    display: flex;
    justify-content: center;
    gap: 340px;
    margin-top: 85px;
}

button {
    width: 145px;
    height: 38px;

    background: white;
    border: 2px solid black;
    border-radius: 7px;

    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
}


.card {
    width: 390px;
    padding: 25px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    font-family: "Germania One";

    margin: 50px auto;
}
.card h2 {
margin-bottom: 20px;
}

.card input {
padding: 15px;
border: 1px solid #ccc;
border-radius: 8px;
font-size: 15px;

}

.card label {
font-weight: bold;
}
button{ 
  padding: 10px;
  border-radius: 25px;
cursor: pointer;
}
h4{ 
  padding: 8px;
  color: grey;
}
.back-button {
    display: block;
    margin: -30px auto 0;
}
.social-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
}
.social-icons a{
   color: black;

}